Create A Dictionary

In [59]:
# Create a dictionary mapping names to ages
ages_dict = {
    "Patrick Murphy": 45,
    "Mary Kelly": 23,
    "Thomas Williams": 16,
    "Elizabeth Smith": 34
}

# Print the entire dictionary
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34}

Accessing items

In [62]:
# Get Patrick's age using his name as the key
patricks_age = ages_dict["Patrick Murphy"]
print(f"Patrick Murphy is {patricks_age} years old.")

Patrick Murphy is 45 years old.

In [64]:
# Create a dictionary mapping names to ages
celebrity_ages = {
    "Meryl Streep": 75,
    "Tom Hanks": 68,
    "Tayler Swift": 35,
    "Olivia Rodrigo": 22
}

# Print the entire dictionary
print(celebrity_ages)

# Print Zendaya's age
print(f"Olvia Rodrigo's age: {celebrity_ages['Olvia Rodrigo']}")

{'Meryl Streep': 75, 'Tom Hanks': 68, 'Tayler Swift': 35, 'Olivia Rodrigo': 22}

KeyError: 'Olvia Rodrigo'

In [66]:
# Add a new person to our ages dictionary
ages_dict["Michael Sullivan"] = 64
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34, 'Michael Sullivan': 64}

In [68]:
# Change someone's age
ages_dict["Thomas Williams"] = 17  # Thomas just had a birthday!
print(f"Updated age for Thomas: {ages_dict['Thomas Williams']}")

Updated age for Thomas: 17

In [70]:
# Add a new person to our ages dictionary
celebrity_ages["Brad Pitt"] = 61
print(celebrity_ages)

{'Meryl Streep': 75, 'Tom Hanks': 68, 'Tayler Swift': 35, 'Olivia Rodrigo': 22, 'Brad Pitt': 61}

In [72]:
for name in celebrity_ages:
    print(f"{name} is {celebrity_ages[name]} years old.")

Meryl Streep is 75 years old.
Tom Hanks is 68 years old.
Tayler Swift is 35 years old.
Olivia Rodrigo is 22 years old.
Brad Pitt is 61 years old.

In [74]:
celebrity_ages["Jean-Claude Van Damme"] = 64
print(celebrity_ages)

{'Meryl Streep': 75, 'Tom Hanks': 68, 'Tayler Swift': 35, 'Olivia Rodrigo': 22, 'Brad Pitt': 61, 'Jean-Claude Van Damme': 64}

In [82]:
for name, age in celebrity_ages.items():
    if age > 61:
        print(f"{name} is a Boomer")
    elif age > 29 and age <= 44:
        print(f"{name} is a Millenial")
    elif age < 29:
        print(f"{name} is z Zoomer")

Meryl Streep is a Boomer
Tom Hanks is a Boomer
Tayler Swift is a Millenial
Olivia Rodrigo is z Zoomer
Jean-Claude Van Damme is a Boomer

In [78]:
# Create one dictionary with all information about each person
census_data = {
    "Patrick Murphy": {
        "age": 45,
        "birth_place": "Ireland",
        "occupation": "farmer"
    },
    "Mary Kelly": {
        "age": 23,
        "birth_place": "Ireland",
        "occupation": "servant"
    },
    "Thomas Williams": {
        "age": 17,
        "birth_place": "Wales",
        "occupation": "laborer"
    },
    "Elizabeth Smith": {
    "age": 34,
    "birth_place": "England",
    "occupation": "servant"
    }
}

In [80]:
# Access data from our nested dictionary
print(census_data["Patrick Murphy"])
print(census_data["Patrick Murphy"]["occupation"])

{'age': 45, 'birth_place': 'Ireland', 'occupation': 'farmer'}
farmer

In [84]:
# Here are our lists of data
names = ["Patrick Murphy", "Mary Kelly", "Thomas Williams", "Elizabeth Smith", "Michael Sullivan",
         "Anna Schmidt", "William Johnson", "James O'Connor", "Bridget Walsh", "Robert Campbell",
         "Catherine Miller", "George Thompson", "Sean O'Neill", "David Jones", "Kevin Burke",
         "Margaret Wilson", "Donald Fraser", "Eileen Doyle", "Frieda Weber", "Timothy Ryan"]

ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer',
              'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter',
              'servant', 'farmer', 'weaver', 'servant', 'carpenter']

In [88]:
# Start with an empty dictionary
auto_census = {}

# Loop through the lists to create our nested dictionary
for i in range(len(names)):
    # Extract the data for this person and temporarily put the data into a series of variables
    name = names[i]
    age = ages[i]
    birth_place = birth_places[i]
    occupation = occupations[i]

    # Create the nested dictionary for this person
    auto_census[name] = {
        "age": age,
        "birth_place": birth_place,
        "occupation": occupation
    }

In [90]:
auto_census

{'Patrick Murphy': {'age': 45,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Mary Kelly': {'age': 23, 'birth_place': 'Ireland', 'occupation': 'servant'},
 'Thomas Williams': {'age': 16,
  'birth_place': 'New York',
  'occupation': 'laborer'},
 'Elizabeth Smith': {'age': 34,
  'birth_place': 'England',
  'occupation': 'merchant'},
 'Michael Sullivan': {'age': 64,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Anna Schmidt': {'age': 28,
  'birth_place': 'Germany',
  'occupation': 'servant'},
 'William Johnson': {'age': 42,
  'birth_place': 'New York',
  'occupation': 'teacher'},
 "James O'Connor": {'age': 31,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Bridget Walsh': {'age': 27,
  'birth_place': 'Ireland',
  'occupation': 'laborer'},
 'Robert Campbell': {'age': 38,
  'birth_place': 'Scotland',
  'occupation': 'merchant'},
 'Catherine Miller': {'age': 17,
  'birth_place': 'Ireland',
  'occupation': 'servant'},
 'George Thompson': {'age': 52,
  'birth_place': 'England',
  'occupation': 'farmer'},
 "Sean O'Neill": {'age': 29,
  'birth_place': 'Ireland',
  'occupation': 'laborer'},
 'David Jones': {'age': 44,
  'birth_place': 'Wales',
  'occupation': 'blacksmith'},
 'Kevin Burke': {'age': 33,
  'birth_place': 'Ireland',
  'occupation': 'carpenter'},
 'Margaret Wilson': {'age': 15,
  'birth_place': 'Ireland',
  'occupation': 'servant'},
 'Donald Fraser': {'age': 61,
  'birth_place': 'Scotland',
  'occupation': 'farmer'},
 'Eileen Doyle': {'age': 36, 'birth_place': 'Ireland', 'occupation': 'weaver'},
 'Frieda Weber': {'age': 18,
  'birth_place': 'Germany',
  'occupation': 'servant'},
 'Timothy Ryan': {'age': 41,
  'birth_place': 'Ireland',
  'occupation': 'carpenter'}}